<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="page-not-found">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
  <h1>Page not found</h1>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Pagenotfound extends Polymer.Element {
      static get is() { return 'page-not-found'; }
      static get properties() {
        return {

        }

        };
    }


    window.customElements.define(Pagenotfound.is, Pagenotfound);
  </script>
</dom-module>
