<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">

<dom-module id="gestor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
  <h1>Soy el gestor</h1>
  <emisor-evento on-myevent="processEvent"></emisor-evento>
  <receptor-evento id="receiver"></receptor-evento>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorEvento extends Polymer.Element {
      static get is() { return 'gestor-evento'; }
      static get properties() {
        return {

        }

        };

        processEvent(e) {
          console.log("Envento del emisor capturado");
          console.log(e);
          this.$.receiver.showData(e.detail);
        }

        }



    window.customElements.define(GestorEvento.is, GestorEvento);
  </script>
</dom-module>
